.App {
  text-align: center;
}

.convas {
  position: relative;
  width: 100vw;
  height: 100vh;
  --bw:5vw;
  --bh:15vh;
  --hh:7vh;
  background-color: #1e1e1e;
}

.header{
  height: var(--hh);
  width: 100vw;
  background-color: #323233;
}

.second-left.side-col {
  width: calc(3 * var(--bw));
  left: var(--bw);
  transition: left 1s, width 1s;
}

.side-col {
  position: absolute;
  display: flex; 
  flex-direction: column;
  align-items: center;
  width: var(--bw);
  height: 75vh;
  background-color: #333333;
  left:0;
  z-index: 0;
  transition: left 1s, width 1s;
}

.front {
  z-index: 2;
}

.pane {
  width: calc(100vw - var(--bw));
  height: calc(100vh - var(--hh));
  background-color: #858585;
}

button {
  all: unset;
  cursor: pointer;
  width: var(--bw);
  height: var(--bw);
  color:#858585;
  flex-shrink: 0;
  font-size: calc(0.2 * var(--bw));
  font-weight: 500;
}

::-webkit-scrollbar {
  display: none;
}
